<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @near_station.name %>
</p>

<p>
  <strong>Line name:</strong>
  <%= @near_station.line_name %>
</p>

<p>
  <strong>Take minutes:</strong>
  <%= @near_station.take_minutes %>
</p>

<p>
  <strong>Real estate:</strong>
  <%= @near_station.real_estate_id %>
</p>

<%= link_to 'Edit', edit_near_station_path(@near_station) %> |
<%= link_to 'Back', near_stations_path %>
