<p id="notice"><%= notice %></p>

<p>
  <strong><%= RealEstate.human_attribute_name(:name) %>:</strong>
  <%= @real_estate.name %>
</p>

<p>
  <strong><%= RealEstate.human_attribute_name(:rent) %>:</strong>
  <%= @real_estate.rent %>
</p>

<p>
  <strong><%= RealEstate.human_attribute_name(:address) %>:</strong>
  <%= @real_estate.address %>
</p>

<p>
  <strong><%= RealEstate.human_attribute_name(:age) %>:</strong>
  <%= @real_estate.built_at %>
</p>

<p>
  <strong><%= RealEstate.human_attribute_name(:notes) %>:</strong>
  <%= @real_estate.notes %>
</p>

<%= link_to '編集', edit_real_estate_path(@real_estate) %> |
<%= link_to '戻る', real_estates_path %>
